---
layout: default
disqus: false
archive: false
post_class: post-template
amp:
  iframe: true
  addthis: true
---

{%- assign sidebar = page.sidebar | default: layout.sidebar | default: "none" -%}
{%- if sidebar == "none" -%}
{%- assign post_class = "no-sidebar" -%}
{%- else -%}
{%- assign post_class = "col-md-6 col-lg-8" -%}
{%- assign sidebar_class = sidebar | append: '-sidebar' -%}
{%- endif -%}

<!-- Begin Article -->

<div class="row">

  <!-- Post -->
  <div id="post" class="{{ post_class }}">
    <div class="mainheading">

      <!-- Post Categories -->
      <div class="after-post-tags">
        {% include /blocks/list-categories.html %}
      </div>
      <!-- End Categories -->

      <!-- Post Title -->
      <h1 class="posttitle">{{ page.title }}</h1>

    </div>

    <!-- Post Featured Image -->
    {%- if page.image -%}
    {%- unless page.image.hide -%}
    {%- assign imgext = page.image.path | split: "." | last -%}
    {%- assign imgpath = page.image.path | remove: imgext -%}
    {%- if imgext == "svg" -%}
    <amp-img data-hero class="featured-image {{ page.image.class }}" width="{{ page.image.width | default: 730 }}" height="{{ page.image.height | default: 411 }}" layout="responsive" src="{{ page.image.path | relative_url }}" alt="{{ page.title }}"></amp-img>
    {%- else -%}
    <amp-img data-hero class="featured-image {{ page.image.class }}" width="{{ page.image.width | default: 730 }}" height="{{ page.image.height | default: 411 }}" layout="responsive" src="{{ imgpath | relative_url }}webp" alt="{{ page.title }}">
      <amp-img data-hero fallback class="featured-image {{ page.image.class }}" width="{{ page.image.width | default: 730 }}" height="{{ page.image.height | default: 411 }}" layout="responsive" src="{{ page.image.path | relative_url }}" alt="{{ page.title }}"></amp-img>
    </amp-img>
    {%- endif -%}
    {%- endunless -%}
    {%- endif -%}
    <!-- End Featured Image -->
    <!-- Post Content -->
    <div class="article-post">
      {%- include blocks/postproc-content.html -%}
      <div class="clearfix"></div>
    </div>

  </div>
  <!-- End Post -->
</div>

<!-- End Article -->